.aluguel-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px #4E6C50;
    align-content: center;
    border-radius: 5px 0px 0px 5px;
    background: var(--cor-p3)
        bottom 20px right 20px;
    color: #fff;
}

.aluguel-form {
    padding: 60px;
    box-shadow: 0 1px 2px #4E6C50;
    align-content: center;
    border-radius: 5px 0px 0px 5px;
    background: var(--cor-0)
        bottom 20px right 20px;
    color: black;
}

.alert-aluguel {
    background-color: #fbf3cb;
    color: #000;
    border: 1px solid #fbf3cb;
    padding: 10px;
    border-radius: 4px;
    margin: 30px;
    display: flex; 
    align-items: center;
}

.alert-aluguel-icon {
    margin-right: 10px; 
    width: 20px;
    height: 20px; 
}

.forma-aluguel {
    color: #B2B2B2;
    padding: 20px;
}

.form-aluguel input[type="time"], .select-aluguel {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background: var(--cor-1);
    border: 1px solid var(--cor-2);
    padding: 12px;
    border-radius: 4px;
    width: 85%;
    margin: 30px;
}

.tipo-pagamento {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-bottom: 20px; 
  }
  
  .tipo-pagamento label {
    flex: 1; 
    text-align: center; 
    margin-right: 10px; 
    cursor: pointer; 
  }
  
  #planoRadioDiv label {
    display: block; 
    margin-top: 10px; 
    font-weight: bold;
  }

  #planoDiv {
    margin: 20px 0;
  }

  .botao-novo-cartao, .botao-finalizar {
    padding: 8px 24px;
    background: linear-gradient(#a8d0aa, #6a886c);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--cor-p5);
    font: 300 0.9rem/1.35 "Poppins", sans-serif;
    border: none;
    cursor: pointer;
}

.botao-novo-cartao:hover, .botao-finalizar:hover {
    background: linear-gradient(#6a886c, #a8d0aa);
}

.container-finalizar {
    display: flex;
    justify-content: left;
}


#valorDiv label {
    font-size: 1.5rem; 
    font-weight: bold;
}

#valor {
    font-size: 2rem; 
    font-weight: bold;
    color: #000; 
    background: none; 
    border: none; 
    text-align: center; 
    width: 100%; 
}

#cartaoDiv {
    margin: 20px 0;
}
